@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 98.4%;
    --foreground: 240 10% 3.9%;
    --card: 240 100% 98.4%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 100% 98.4%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 67% 97.3%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 120 100% 79.6%;
    --accent-foreground: 120 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.8rem;
    --chart-1: 240 50% 60%;
    --chart-2: 120 50% 60%;
    --chart-3: 300 50% 60%;
    --chart-4: 180 50% 60%;
    --chart-5: 60 50% 60%;
  }
 
  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 15% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 40% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 240 20% 70%;
    --chart-1: 240 50% 60%;
    --chart-2: 120 50% 60%;
    --chart-3: 300 50% 60%;
    --chart-4: 180 50% 60%;
    --chart-5: 60 50% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
